In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
df_produtos = pd.read_excel("C:/Users/49439967870/Desktop/Ciência_de_dados/Hackaton_17_05/tratamento/vendas.xlsx")
print(df_produtos)

     Id_venda  Id_cliente  Id_Produto     Data_venda  Quantidade  Valor_total  \
0           1          44          27  1727049600000          15      1085.84
1           2          71          38  1738368000000           3        90.46
2           3          61          14  1728172800000          20       199.33
3           4          42          38  1715817600000          40      3625.80
4           5          10           9  1719360000000          39      1280.01
..        ...         ...         ...            ...         ...          ...
195       196          89          31  1719705600000           4       105.43
196       197          37           9  1736121600000          26      1829.13
197       198         100          31  1722729600000          50      3787.55
198       199          51           4  1737504000000          29      2538.76
199       200          92          34  1728000000000          36      3511.77

     Pedidos_concluido  Avaliacao_servico Nome_produto        Categoria  \
0                  NaN                NaN  Repudiandae  Industrializado
1                  NaN                5.0      Dolores           Bebida
2                  NaN               10.0           Id           Bebida
3                  NaN                NaN      Dolores           Bebida
4                  NaN               10.0        Illum  Industrializado
..                 ...                ...          ...              ...
195                NaN                NaN          Qui          Limpeza
196                NaN                NaN        Illum  Industrializado
197                NaN                1.0          Qui          Limpeza
198                NaN                NaN         Quae          Limpeza
199                NaN                2.0    Voluptate           Bebida

     Preco_unitario  Estoque_atual                       Nome  \
0             93.26            -10      Pimenta Melo e Filhos
1             79.76            183              Pereira Ltda.
2             62.06            578  da Mata Cassiano e Filhos
3             79.76            183                      Silva
4             99.17            541                   Nogueira
..              ...            ...                        ...
195           79.79            931                   Nogueira
196           99.17            541             Gonçalves - ME
197           79.79            931                    Correia
198           35.71            869               da Mota - EI
199           48.46            987                     Mendes

                            Email               Cidade   Categoria.1
0      alicefernandes@example.org     Garcia de Fogaça  Distribuidor
1            sophie56@example.com  Novais dos Dourados        Varejo
2             ygarcia@example.com      Mendes do Campo   Restaurante
3                   emailinvalido             Monteiro  Distribuidor
4           melissa31@example.org           Sá da Mata     Indústria
..                            ...                  ...           ...
195  piresana-vitoria@example.org            Fernandes       Atacado
196       da-luzjulia@example.net  Cavalcanti do Campo     Indústria
197   carvalhobenicio@example.com           Cavalcanti       Atacado
198          valmeida@example.com             Monteiro     Indústria
199      almeidajulia@example.org     Pimenta do Norte       Atacado

[200 rows x 16 columns]

In [31]:
df_produtos["Preco_unitario"] = df_produtos["Preco_unitario"].astype(float)
display(df_produtos)

,Id_venda,Id_cliente,Id_Produto,Data_venda,Quantidade,Valor_total,Pedidos_concluido,Avaliacao_servico,Nome_produto,Categoria,Preco_unitario,Estoque_atual,Nome,Email,Cidade,Categoria.1
0,1,44,27,1727049600000,15,1085.84,NaN,NaN,Repudiandae,Industrializado,93.26,-10,Pimenta Melo e Filhos,alicefernandes@example.org,Garcia de Fogaça,Distribuidor
1,2,71,38,1738368000000,3,90.46,NaN,5.0,Dolores,Bebida,79.76,183,Pereira Ltda.,sophie56@example.com,Novais dos Dourados,Varejo
2,3,61,14,1728172800000,20,199.33,NaN,10.0,Id,Bebida,62.06,578,da Mata Cassiano e Filhos,ygarcia@example.com,Mendes do Campo,Restaurante
3,4,42,38,1715817600000,40,3625.80,NaN,NaN,Dolores,Bebida,79.76,183,Silva,emailinvalido,Monteiro,Distribuidor
4,5,10,9,1719360000000,39,1280.01,NaN,10.0,Illum,Industrializado,99.17,541,Nogueira,melissa31@example.org,Sá da Mata,Indústria
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,89,31,1719705600000,4,105.43,NaN,NaN,Qui,Limpeza,79.79,931,Nogueira,piresana-vitoria@example.org,Fernandes,Atacado
196,197,37,9,1736121600000,26,1829.13,NaN,NaN,Illum,Industrializado,99.17,541,Gonçalves - ME,da-luzjulia@example.net,Cavalcanti do Campo,Indústria
197,198,100,31,1722729600000,50,3787.55,NaN,1.0,Qui,Limpeza,79.79,931,Correia,carvalhobenicio@example.com,Cavalcanti,Atacado
198,199,51,4,1737504000000,29,2538.76,NaN,NaN,Quae,Limpeza,35.71,869,da Mota - EI,valmeida@example.com,Monteiro,Indústria
199,200,92,34,1728000000000,36,3511.77,NaN,2.0,Voluptate,Bebida,48.46,987,Mendes,almeidajulia@example.org,Pimenta do Norte,Atacado

In [32]:
df_produtos["Data_venda"] = pd.to_datetime(df_produtos["Data_venda"],unit = "ms")
df_produtos["Data_venda"] = df_produtos["Data_venda"].dt.strftime('%d/%m/%y')
display(df_produtos)

,Id_venda,Id_cliente,Id_Produto,Data_venda,Quantidade,Valor_total,Pedidos_concluido,Avaliacao_servico,Nome_produto,Categoria,Preco_unitario,Estoque_atual,Nome,Email,Cidade,Categoria.1
0,1,44,27,23/09/24,15,1085.84,NaN,NaN,Repudiandae,Industrializado,93.26,-10,Pimenta Melo e Filhos,alicefernandes@example.org,Garcia de Fogaça,Distribuidor
1,2,71,38,01/02/25,3,90.46,NaN,5.0,Dolores,Bebida,79.76,183,Pereira Ltda.,sophie56@example.com,Novais dos Dourados,Varejo
2,3,61,14,06/10/24,20,199.33,NaN,10.0,Id,Bebida,62.06,578,da Mata Cassiano e Filhos,ygarcia@example.com,Mendes do Campo,Restaurante
3,4,42,38,16/05/24,40,3625.80,NaN,NaN,Dolores,Bebida,79.76,183,Silva,emailinvalido,Monteiro,Distribuidor
4,5,10,9,26/06/24,39,1280.01,NaN,10.0,Illum,Industrializado,99.17,541,Nogueira,melissa31@example.org,Sá da Mata,Indústria
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,89,31,30/06/24,4,105.43,NaN,NaN,Qui,Limpeza,79.79,931,Nogueira,piresana-vitoria@example.org,Fernandes,Atacado
196,197,37,9,06/01/25,26,1829.13,NaN,NaN,Illum,Industrializado,99.17,541,Gonçalves - ME,da-luzjulia@example.net,Cavalcanti do Campo,Indústria
197,198,100,31,04/08/24,50,3787.55,NaN,1.0,Qui,Limpeza,79.79,931,Correia,carvalhobenicio@example.com,Cavalcanti,Atacado
198,199,51,4,22/01/25,29,2538.76,NaN,NaN,Quae,Limpeza,35.71,869,da Mota - EI,valmeida@example.com,Monteiro,Indústria
199,200,92,34,04/10/24,36,3511.77,NaN,2.0,Voluptate,Bebida,48.46,987,Mendes,almeidajulia@example.org,Pimenta do Norte,Atacado

In [33]:
df_produtos['Pedidos_concluido'].fillna(0, inplace=True)

def ehnulo(linha):
    import math
    if math.isnan(linha):
        return "Nao Concluido"
    else:
        return "Concluido"

df_produtos["Pedidos_concluido"] = df_produtos["Avaliacao_servico"].apply(ehnulo)
       
        

print(df_produtos)

     Id_venda  Id_cliente  Id_Produto Data_venda  Quantidade  Valor_total  \
0           1          44          27   23/09/24          15      1085.84
1           2          71          38   01/02/25           3        90.46
2           3          61          14   06/10/24          20       199.33
3           4          42          38   16/05/24          40      3625.80
4           5          10           9   26/06/24          39      1280.01
..        ...         ...         ...        ...         ...          ...
195       196          89          31   30/06/24           4       105.43
196       197          37           9   06/01/25          26      1829.13
197       198         100          31   04/08/24          50      3787.55
198       199          51           4   22/01/25          29      2538.76
199       200          92          34   04/10/24          36      3511.77

    Pedidos_concluido  Avaliacao_servico Nome_produto        Categoria  \
0       Nao Concluido                NaN  Repudiandae  Industrializado
1           Concluido                5.0      Dolores           Bebida
2           Concluido               10.0           Id           Bebida
3       Nao Concluido                NaN      Dolores           Bebida
4           Concluido               10.0        Illum  Industrializado
..                ...                ...          ...              ...
195     Nao Concluido                NaN          Qui          Limpeza
196     Nao Concluido                NaN        Illum  Industrializado
197         Concluido                1.0          Qui          Limpeza
198     Nao Concluido                NaN         Quae          Limpeza
199         Concluido                2.0    Voluptate           Bebida

     Preco_unitario  Estoque_atual                       Nome  \
0             93.26            -10      Pimenta Melo e Filhos
1             79.76            183              Pereira Ltda.
2             62.06            578  da Mata Cassiano e Filhos
3             79.76            183                      Silva
4             99.17            541                   Nogueira
..              ...            ...                        ...
195           79.79            931                   Nogueira
196           99.17            541             Gonçalves - ME
197           79.79            931                    Correia
198           35.71            869               da Mota - EI
199           48.46            987                     Mendes

                            Email               Cidade   Categoria.1
0      alicefernandes@example.org     Garcia de Fogaça  Distribuidor
1            sophie56@example.com  Novais dos Dourados        Varejo
2             ygarcia@example.com      Mendes do Campo   Restaurante
3                   emailinvalido             Monteiro  Distribuidor
4           melissa31@example.org           Sá da Mata     Indústria
..                            ...                  ...           ...
195  piresana-vitoria@example.org            Fernandes       Atacado
196       da-luzjulia@example.net  Cavalcanti do Campo     Indústria
197   carvalhobenicio@example.com           Cavalcanti       Atacado
198          valmeida@example.com             Monteiro     Indústria
199      almeidajulia@example.org     Pimenta do Norte       Atacado

[200 rows x 16 columns]

C:\Users\49439967870\AppData\Local\Temp\ipykernel_26168\3219355985.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_produtos['Pedidos_concluido'].fillna(0, inplace=True)

In [34]:
df_produtos["Valor_total"] = df_produtos["Valor_total"].astype(float)
display(df_produtos)

,Id_venda,Id_cliente,Id_Produto,Data_venda,Quantidade,Valor_total,Pedidos_concluido,Avaliacao_servico,Nome_produto,Categoria,Preco_unitario,Estoque_atual,Nome,Email,Cidade,Categoria.1
0,1,44,27,23/09/24,15,1085.84,Nao Concluido,NaN,Repudiandae,Industrializado,93.26,-10,Pimenta Melo e Filhos,alicefernandes@example.org,Garcia de Fogaça,Distribuidor
1,2,71,38,01/02/25,3,90.46,Concluido,5.0,Dolores,Bebida,79.76,183,Pereira Ltda.,sophie56@example.com,Novais dos Dourados,Varejo
2,3,61,14,06/10/24,20,199.33,Concluido,10.0,Id,Bebida,62.06,578,da Mata Cassiano e Filhos,ygarcia@example.com,Mendes do Campo,Restaurante
3,4,42,38,16/05/24,40,3625.80,Nao Concluido,NaN,Dolores,Bebida,79.76,183,Silva,emailinvalido,Monteiro,Distribuidor
4,5,10,9,26/06/24,39,1280.01,Concluido,10.0,Illum,Industrializado,99.17,541,Nogueira,melissa31@example.org,Sá da Mata,Indústria
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,89,31,30/06/24,4,105.43,Nao Concluido,NaN,Qui,Limpeza,79.79,931,Nogueira,piresana-vitoria@example.org,Fernandes,Atacado
196,197,37,9,06/01/25,26,1829.13,Nao Concluido,NaN,Illum,Industrializado,99.17,541,Gonçalves - ME,da-luzjulia@example.net,Cavalcanti do Campo,Indústria
197,198,100,31,04/08/24,50,3787.55,Concluido,1.0,Qui,Limpeza,79.79,931,Correia,carvalhobenicio@example.com,Cavalcanti,Atacado
198,199,51,4,22/01/25,29,2538.76,Nao Concluido,NaN,Quae,Limpeza,35.71,869,da Mota - EI,valmeida@example.com,Monteiro,Indústria
199,200,92,34,04/10/24,36,3511.77,Concluido,2.0,Voluptate,Bebida,48.46,987,Mendes,almeidajulia@example.org,Pimenta do Norte,Atacado

In [35]:
df_produtos = pd.DataFrame(df_produtos)
df_produtos.to_excel("C:/Users/49439967870/Desktop/Ciência_de_dados/Hackaton_17_05/tratamento/tabelas_tratadas/tabela_produtos_tratada.xlsx", index=False)